


input[type="text"]{
    height: 30px;
    width: 100px;
}
input[type = "password"]{
    height: 30px;
    width: 100px;

}
input[type = "submit"]{
    height: 30px;
    width: 100px;
    
}
img{
    height: 200px;
    width: 200px;
}